.Navbar {
        height: 100%;    
        width: 25%;
        position: fixed;
        z-index: 0;
        background-color: rgb(215, 234, 246);
        color: rgb(9, 9, 9);
        justify-content: center;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
  }