
/* .modalButton {
    position: fixed;
    color: #ffffff;
    background-color: #411b57;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    padding: 12px 24px;
} */
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
}
.modalContainer {
    max-width: 400px;
    width: 100%;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: #ffffff;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    border-radius: 8px;
}
/* img {
    width: 250px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
} */
.modalRight {
    width: 100%;
}
.closeBtn {
    position: fixed;
    top: 8px;
    right: -100px;
    cursor: pointer;
    cursor: hand;
    font-weight: 600;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-top: 1rem;
    /*  margin-right: 1rem; */
    padding: 2rem 3rem;
}
.btnContainer {
    display: flex;
    padding: 1rem 1rem;
}
.btnContainer button {
    width: 20%;
    margin: .6rem;
    padding: 16px 0;
    /* border: none; */
    border: 1px solid #411b57;
    /* color: #ffffff; */
    left: 60px;
    top: 10px
}
/* .btnPrimary {
    background-color: #391b85;
    color: white;
} */
/* .btnOutline {
    /* background-color: #a76a99; */
    /* background-color: white; */
    /* color: #391b85;
} */ */
.bold {
    font-weight: 600;
}
@media screen and (max-width: 500px) {
    .modalContainer {
        flex-direction: column;
        top: 0;
        left: 0;
        transform: none;
        width: 10%;
        height: 100vh;
    }
    .heading {
        margin: 1rem;
    }
    /* .custom-field {
        border: none;
        -webkit-appearance: none;
        -ms-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: #f2f2f2;
        padding: 12px;
        border-radius: 3px;
        width: 250px;
        font-size: 14px;
    } */
 /* .tr {
        text-align: right;
    } */
}
.Addproduct-button {
    display: flex;
    left: 28%;
    top: 28%;
    position: fixed;
    font-size: 10px;
}


